body {
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
}

#pads-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4x4 grid */
  gap: 10px;
  max-width: 500px;
  margin: 20px auto;
}

.pad {
  height: 100px;
  background-color: #555;
  border: 2px solid #777;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  transition: all 0.07s ease;
}

.pad:active {
  background-color: #f90;
  transform: scale(0.95);
}

#controls-container {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#waveform-container {
  position: relative; /* This is key to overlaying the canvases */
  width: 500px;
  height: 100px;
  background-color: #222;
  border: 1px solid #777;
}

#waveform-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* trimbars-canvas should be on top */
#trimbars-canvas {
  z-index: 10;
}

/* Style for a selected pad */
.pad.selected {
  border-color: #f90;
  box-shadow: 0 0 10px #f90;
}

.preset-menu {
  padding: 8px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: 1px solid #777;
  border-radius: 5px;
  width: 100%;
  max-width: 500px; /* Match canvas width */
}

.preset-controls {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.preset-controls .preset-menu {
  flex-grow: 1; /* Make the menu take up available space */
}

.control-button-delete {
  padding: 8px 12px;
  background-color: #c0392b; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.control-button-delete:hover {
  background-color: #e74c3c;
}

.recording-controls {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  align-items: center;
}

#audio-player {
  flex-grow: 1;
  height: 30px;
}

.control-button-record,
.control-button-stop {
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.control-button-record {
  background-color: #c0392b; /* Red */
}
.control-button-record:hover {
  background-color: #e74c3c;
}
.control-button-record:disabled {
  background-color: #777;
  cursor: not-allowed;
}

.control-button-stop {
  background-color: #555;
}
.control-button-stop:not(:disabled) {
  background-color: #3498db; /* Blue */
}
.control-button-stop:not(:disabled):hover {
  background-color: #5dade2;
}
.control-button-stop:disabled {
  background-color: #777;
  cursor: not-allowed;
}